body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

h1 {
    color: black;
    font-size: 50px;
}

#searchInput {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.product-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    width: 300px;
    text-align: left;
}

.product-card img {
    max-width: 100%;
}

.product-card a {
    display: block;
    text-decoration: none;
    margin-top: 10px;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
}

.product-card a:hover {
    background-color: #555;
}